.content-section .video-section{
    max-height: 800px;
    padding: 110px 0 32px;
    }

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 30% 0% 30%;
min-height: 496px;

/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}

.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}